# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

..
.bash_history
.bash_logout
.bashrc
.cache
.codeoss
.config
.docker
.gemini
.gitconfig
.local
.npm
package.txt
.profile
README-cloudshell.txt
requirement.txt
.ssh
.sudoasadmin_successful
.vscode

file.txt
attached_assets
node_modules/
.env
*.log
*.tmp
.replit
replit.md
.DS_Store
.slug
__pycache__
.ccls-cache

.lesshst
.android
.termux
rish
.wget-hsts
rish_shizuku.dex
storage
downloads
